// Libs

// Imports
@import "colors";
@import "fonts";

// Globals
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  color: $ecru;
}

a {
  text-decoration: none;
  color: $link-blue;

  &:visited {
    color: $link-blue;
  }
}

*:focus {
  outline: none;
}

hr {
  border-color: $mid-gray;
  border-style: solid;
  border-width: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
}

// Constants
$top-segment-height: 60px;
$footer-height: 60px;
$top-background-color: #222;

// Layout
.view-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #979695;
  padding-left: 100px;
  padding-right: 100px;
  min-height: 100vh;
}

.top-space {
  height: $top-segment-height;
  // background-color: yellow;
}

.title-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title-text {
    width: min(100vw, 860px);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: min(calc(0.5 * 100vw), 43px);
    align-items: center;

    p {
      font-size: 28px;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 500;

      &:nth-child(1) {
        color: darken(rgba(255, 255, 255, 1), 0%);
      }
      &:nth-child(2) {
        margin-left: 10px;
        color: darken(rgba(255, 255, 255, 1), 20%);
      }
    }
  }

}

.footer {
  height: $footer-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: min(100vw, 800px);
  margin-left: -36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 14px;
    color: darken(rgba(255, 255, 255, 1), 20%);;
  }

  p.divider {
    color: white;
  }
}

@media(max-width: 860px) {
  .footer-content {
    margin-top: 20px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .item {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

// Application Specific Screens
.screen.home-screen {

  .image-carousel-container {
    height: min(571px, calc(0.664 * 100vw));

    img {
      height: min(571px, calc(0.664 * 100vw));
    }
  }

  .image-carousel-container {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .image-carousel {

    height: 100%;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .carousel-enter {
      opacity: 0.01;
      transition: opacity 1s ease-in;
    }

    .carousel-enter.carousel-enter-active {
      opacity: 1;
    }

    .carousel-appear {
      opacity: 0.01;
      transition: opacity 1s ease-in;
    }

    .carousel-appear.carousel-appear-active {
      opacity: 1;
    }

    img:not(:nth-child(1)) {
      display: none;
    }

  }
}

.screen.inventions-index {
  p {
    color: $ecru;
    &:hover { color: $smooth-red; }

    &.invention {
      margin-bottom: 5px;
    }
  }
}
