// Libs

// Imports
@import "colors";
@import "fonts";

// Globals
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  color: $ecru;
}

a {
  text-decoration: none;
  color: $link-blue;

  &:visited {
    color: $link-blue;
  }
}

*:focus {
  outline: none;
}

hr {
  border-color: $mid-gray;
  border-style: solid;
  border-width: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
}

// Constants
$top-segment-height: 60px;
$top-background-color: #222;

// Layout
.view-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: $smooth-gray;
  padding-left: 100px;
  padding-right: 100px;
  min-height: 100vh;
}

.top-space {
  height: $top-segment-height;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

// Application Specific Screens
.screen.inventions-index {
  p {
    color: $ecru;
    &:hover { color: $smooth-red; }

    &.invention {
      margin-bottom: 5px;
    }
  }
}

.screen.invention-show {
  h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .invention-title {
    font-size: 24px;
  }

  .invention-description {
    font-size: 18px;
  }

  .invention-user {

  }

}

.screen.create-invention {

  .invention-title, .invention-description, .invention-username, .invention-email {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
  }

  textarea {
    height: 80px;
    width: 300px;
  }

  input {
    width: 200px;
  }

  .submit {
    width: 30%;
    cursor: pointer;
    background-color: $smooth-red;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .invention-bits, .invention-materials {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .bits-list, .materials-list {
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
  }

  .tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $smooth-cyan;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: $smooth-gray;

    &:not(:last-child) {
      margin-right: 10px;
    }

    .tagX {
      margin-left: 5px;
      cursor: pointer;
    }
  }

  .bits-input, .materials-input {
    height: 30px;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    width: 200px;
    box-sizing: border-box;
  }

  .bits-input-container, .materials-input-container {
    width: 200px;

    .bits-input-dropdown, .materials-input-dropdown {
      width: 200px !important;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      align-items: stretch;
      position: fixed;
      background-color: $smooth-cyan;

      .bits-search-result, .materials-search-result {
        width: 100%;
        cursor: pointer;
        padding-left: 5px;
      }
    }

  }

}
