$smooth-gray: #191919;
$smooth-yellow: #aaaa33;
$smooth-red: #aa3333;
$smooth-green: #3eaa33;
$smooth-cyan: #339baa;
$smooth-blue: #336baa;
$smooth-orange: #aa6033;
$mid-gray: rgba(51, 51, 51, 1);
$light-gray: rgba(86, 85, 83, 1);
$ecru: #f4f4ec;

$link-blue: #1678c2;
